 	<table class="main_inv_table full_width">

		<thead>
			<tr>
				<th class="width1 no_wrap">
					{{tt "invoice_position.nr"}}
				</th>
				<th class="width4 text_left">
				 {{tt "invoice_position.name"}}
				</th>

				{{#not_eq kind 'advance'}}
					{{#if use_product_code}}
						<th class="width2">
							{{tt "invoice_position.code"}}
						</th>				
					{{/if}}

					{{#if additional_info}}				
					<th class="width2">
						{{additional_info_desc}}
					</th>				
					{{/if}}
					{{#if discount}}				
					<th class="width2 text_center">
						{{tt "invoice_position.discount_percent"}}
					</th>				
					{{/if}}

					<th class="width2 text_center">
						{{tt "invoice_position.quantity"}}
					</th>
					{{#if tax_visible}}
						{{#unless hide_tax}}
							<th class="width3 text_right ">
								{{tt "invoice_position.price_net"}}
							</th>
							<th class="width3 text_right ">
								{{tt "invoice_position.total_price_net"}}
							</th>
							<th class="width1 text_center ">
								{{tax_name}}
							</th>
							{{#if tax2_visible}}
								<th class="width1 text_center ">
									{{tax2_name}}
								</th>
							{{/if}}
							<th class="width3 text_right ">					
								{{tax_value_name}}					
							</th>
							<th class="width3 text_right ">
								 {{tt "invoice_position.total_price_gross"}}
							</th>
						{{else}}
							<th class="width3 text_right ">
								{{tt "invoice_position.price_gross"}}
							</th>
							<th class="width3 text_right ">
								 {{tt "invoice_position.total_price_gross"}}
							</th>
						{{/unless}}
					{{else}}
						<th class="width3 text_right ">
							{{tt "invoice_position.bill_price_net"}}
						</th>
						<th class="width3 text_right ">
							 {{tt "invoice_position.bill_total_price_gross"}}
						</th>
					{{/if}}
				{{else}}
					<th class="width3 text_right ">
						{{tt "invoice_position.total_price_net"}}
					</th>
				{{/not_eq}}
			</tr>
		</thead>
		<tbody>
			{{#each positions}}
			{{#eq kind 'text_separator'}}
			<tr>
				<td colspan=100 class='text_left text_separator'>{{item}}</td>
			</tr>
			{{else}}
			<tr>
				<td>
					{{no}}
				</td>
				<td>
					{{{item}}}
					{{#if ../../show_product_description}}
				 		{{{description}}}
				 	{{/if}}
				</td>
				{{#not_eq ../../kind 'advance'}}
					{{#if ../../../use_product_code}}
						<td>
						{{code}}
						</td>					
					{{/if}}
					
					{{#if ../../../additional_info}}				
					<td>
						{{additional_info}}
					</td>				
					{{/if}}
					
					{{#if ../../../discount}}
					<td class="text_center">
						{{discount}}
					</td>
					{{/if}}				

					<td class="text_center">
						{{quantity}}
					</td>

					{{#if ../../../tax_visible}}
						{{#unless ../../../../hide_tax}}
							<td class="text_right number">
								{{unit_price_net}}
							</td>
							<td class="text_right number">
								{{total_price_net}}
							</td>			

							<td class="text_right number">
								{{tax}}%
							</td>
							{{#if ../../../../../tax2_visible}}
								<td class="text_right number">
									{{tax2}}%
								</td>
							{{/if}}
							<td class="text_right number">
								{{tax_value}}
							</td>
						{{else}}
							<td class="text_right number">
								{{unit_price_gross}}
							</td>
						{{/unless}}
					{{else}}
						<td class="text_right number">
							{{unit_price_gross}}
						</td>
					{{/if}}				
		
					<td class="text_right number">
						{{total_price_gross}}
					</td>
				{{else}}
					<td class="text_right number">
						{{total_price_net}}
					</td>
				{{/not_eq}}
			</tr>
			{{/eq}}

			{{/each}}
			
		
			{{#not_eq kind 'advance'}}
				<tr class="clean no_border">	
						<td class=""></td>
						<td class=""></td> 
						{{#if use_product_code}}
						<td class=""></td>
						{{/if}}
						{{#if additional_info}}				
						<td class=""></td>
						{{/if}}
						{{#if discount}}
						<td class=""></td>
						{{/if}}
						<td class=""></td>	
					<td  class="text_right no_border">
						<strong>{{tt "invoice.total"}}</strong>
					</td>		
						{{#if tax_visible}}
							{{#unless hide_tax }}
                  			<td class="text_right number">
                              {{#not_eq kind 'final'}}
                                  {{total_price_net}}
                              {{/not_eq}}
                              {{#eq kind 'final'}}
                                  {{positions_total_price_net}}
                              {{/eq}}
                            </td>
							<td class=""></td>
							{{#if ../tax2_visible}}
								<td class=""></td>
							{{/if}}

							<td class="text_right number">
								{{#not_eq kind 'final'}}
									{{tax_value}}
								{{/not_eq}}
								{{#eq kind 'final'}}
									{{positons_total_tax}}
								{{/eq}}
								
							</td>
							{{/unless}}
						{{/if}}
					<td class="width3 text_right number">
						{{#not_eq kind 'final'}}
							{{total_price_gross}}
						{{/not_eq}}
						{{#eq kind 'final'}}
							{{positions_total_price_gross}}
						{{/eq}}
					</td>						
				</tr>

				{{#if show_tax_split}}

				{{#if tax_visible}}
				{{#unless hide_tax}}
				{{#each summary}}
				<tr class="no_border">
					{{#not_eq ../kind 'advance'}}	
						<td class=""></td>
						<td class=""></td>
						{{#if ../../use_product_code}}
						<td class=""></td>
						{{/if}}
						{{#if ../../discount}}
						<td class=""></td>
						{{/if}}
						{{#if ../../additional_info}}				
						<td class=""></td>
						{{/if}}

						{{#if ../../tax_visible}}
							<td class=""></td>
						{{/if}}
					{{/not_eq}}

					<td class="text_right number">
						<strong>{{tt "invoice.including"}}</strong>
					</td>

					{{#not_eq ../kind 'advance'}}
						<td class="text_right number">
							{{total_price_net}}
						</td>

						{{#if ../../tax_visible}}
						<td class="text_right number">
							{{tax}}%
						</td>
							{{#if ../../../tax2_visible}}
							<td class="text_right number">
								{{tax2}}%
							</td>
							{{/if}}
						{{/if}}
					{{/not_eq}}
					

					<td class="text_right number">

						{{tax_value}}
					</td>
					<td class="width3 text_right  number">
						{{total_price_gross}}
					</td>					
				</tr>
				{{/each}}
				{{/unless}}
				{{/if}}

				{{/if}}
			{{/not_eq}}
		</tbody>
	</table>

	{{#eq kind 'advance'}}
		<table class="clean to_right" style="width:auto">
			{{#if show_tax_split}}

			{{#if tax_visible}}
			{{#unless hide_tax}}
			{{#each summary}}
			<tr class="no_border">
				<td class="text_right number">
					<strong>{{tt "invoice.including"}}</strong>
				</td>
				<td class="text_right number">
					{{tax}}%
				</td>
				<td class="text_right number">
					{{tax_value}}
				</td>
				<td class="text_right  number">
					{{total_price_gross}}
				</td>					
			</tr>
			{{/each}}
			{{/unless}}
			{{/if}}

			{{/if}}
			<tr class="clean no_border">
				<td  class="text_right no_border">
					<strong>{{tt "invoice.total"}}</strong>
				</td>
				<td class=""></td>
				<td class=""></td>
				<td class="text_right number">
					{{total_price_gross}}
				</td>						
			</tr>
		</table>
	{{/eq}}

	<div class="clear"></div>
