
	@media all{ 
	.invoice_outline{
		font-family:helvetica,"lucida grande","lucida sans unicode";
		margin-top: 0.75cm;
		margin-left: 0.75cm;
		margin-right: 0.75cm;	
		min-height: 20cm;
		margin-bottom: 0in;
	}
	/*@page{size:A4 ;}
	*/ 
	.clear{clear:both;}
	p{margin:0;}
	table p{margin-bottom:0.5em;line-height:1.4em;}
	.split_three strong{display:block;margin-bottom:5px;}
	.split_three br{display:none}
	#custom_stamp{background-position:96% 87% !important}
	
	/*TABELE*/
	table{font-size:0.6em;}
	tr{page-break-inside:avoid;}
	table{page-break-after:auto}
	tr{page-break-inside:avoid;page-break-after:auto}
	td{page-break-inside:avoid;page-break-after:auto}
	thead{display:table-header-group}
	.nobreak{page-break-inside:avoid;}
	table th,
	table td{margin:0;padding:0;}
	th.width0,
	td.width0{width:1%;}
	th.width1,
	td.width1{width:2%;}
	th.width2,
	td.width2{width:5%;}
	th.width3,
	td.width3{width:7%;}
	th.width4,
	td.width4{width:25%;}
	td.logo_inside,
	td.logo_inside{vertical-align:middle;text-align:center}
	td.logo_inside img{max-height:187px;max-width:250px;}
	html tr,
	html td{background-color:transparent;}
	table{margin:auto;clear:both;margin-top:10px;border-collapse:collapse ;empty-cells:hide;margin:5px auto 5px auto;width:99%;}
	table tr{vertical-align:top;}
	table,table th,table td{border:0;background-color:transparent;text-align:left;vertical-align:top;}
	table.main_inv_table th,table.main_inv_table td,table.main_inv_table caption{text-align:right;border-collapse:collapse;border:1px solid #d8d7d7 ;}
	table.main_inv_table th{font-weight:bold;background-color:#f1f1f1 ;border:1px solid #bbbbbb ;}
	table.main_inv_table th p,table td a{text-align:left;}
	table th{font-weight:bold;}
	table.clean.to_right{margin-top:20px;}
	table.to_right{float:right;width:99%;}
	table.to_right th{text-align:right;}
	table.to_right td{width:15%;text-align:right;padding:5px 10px;}
	.split_half td{width:50%;}
	.split_three td{width:33%;}
	table.to_pay{margin:40px auto 20px auto;background:transparent;}
	table.to_pay th,
	table.to_pay td{border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
	hr{margin:10px auto;}
	.to_pay th{width:120px;}
	.to_pay td,
	.to_pay th{padding:0px 5px;}
	table th,table td{margin:0;padding:5px;}
	#exchange_currency{margin-top:20px;}
	#exchange_currency td{border-top:1px solid #ddd;padding-top:10px !important;}
	#exchange_currency + table.clean.to_pay{margin-top:0;}
	table.main_inv_table .no_border td{border:0;}
	table td.empty{border:0;}
	html body table tr:hover{background-color:transparent;}
	table.main_inv_table th.text_left,
	table.main_inv_table td.text_left,
	th.text_left,
	td.text_left{text-align:left;padding-left:10px;}
	td b,td.row1,td.row2,td.row3{white-space:nowrap}
	.payment_button{display:block;float:right;text-align:right;height:43px;width:190px;z-index:999;}
	.payment_button img{display:block;float:right;text-align:right;width:190px;height:43px;z-index:999;}
	html,
	body{margin:0;padding:0;}
	.text_center{text-align:center;}
	.invoice_outline .small_text{font-size:0.9em;}
	td.half_width{width:50%;}
	.invoice_outline .no_wrap{white-space:nowrap;}
	html body .invoice_outline h4{color:#000000;font-family:helvetica,serif;font-size:1.4em;font-style:normal;margin:5px auto !important;padding:0;text-align:left;}
	.hidden{display:none;}
	.vosfactures3_visible{display: inline !important}
	strong.medium_text {display:block;}

	.totals_inv_table {
		margin-top: 0px !important;
		line-height: 1em;
	}

	.medium_text {margin-top:0px !important;margin-bottom:7px !important;}

	.full_width {margin-top:0px;margin-bottom:0px;clear: both;}

	.advanced_header {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		padding-left: 3px !important;
		background-color: #ffffff !important;
		border: 0px !important;
	} 
	.advanced_header_titles {
		display: none;
	}
	.related_advance {
		padding-top: 4px !important;
		padding-bottom: 2px !important;
	}

	#logo {
		width:60%;
	}
	#logo img {
		max-width: 100%;
	}

	#corrected_content {
		width: 100%;
		margin-top: 6pt;
		margin-bottom: 12pt;
	}

	#corrected_content th,
	#corrected_content td {
		width: 50%;
		vertical-align: top;
		text-align: left;
	}

	/* ------------------------------------------------- */
	/* payments list */
	#invoice_payments {
	  text-align: left;
	  margin-top: 0.5em;
	  width: auto;
	  display: inline-block;
	  margin-left: 4px;
	}

	#invoice_payments_title {
		font-weight: bold;
		padding: 0px 5px;
		font-size: 11px;
		border-bottom: 1px solid #DDDDDD;
	}

	#invoice_payments_list {

	}

	.invoice_payments_payment {
		border-left: 1px solid #DDDDDD;
		border-right: 1px solid #DDDDDD;
		border-bottom: 1px solid #DDDDDD;
		padding: 3px 5px 2px;
		line-height: 0.8em;
	}

	.invoice_payments_payment > div {
		display: inline-block;
	    font-size: 11px;
	}

	.invoice_payments_provider::before {
		content: '- ';
	}

}

@media print {		

	@page :first {
	  margin-top: 0in;
	  margin-bottom: 0.5in;
	}
	

	@page{size:portrait;margin:0in;padding:0;margin-top:0.5in;margin-bottom:0.5in}
	

	.invoice_outline {
		margin-top:0.5in;
		margin-bottom: 0in;
		margin-left: 0.5in;
		margin-right: 0.5in;
		padding-top:0;
		background-color: transparent;
		background-position: 50% 15cm !important;
		min-height: 25cm;
	}
	

	table { page-break-inside:auto }

	td,tr    { page-break-inside:avoid; page-break-after:auto }
	thead { display:table-header-group }
	tfoot { display:table-footer-group }

	.invoice_outline table.main_inv_table {margin-top:5px}

	.totals_inv_table td, .totals_inv_table th {
		padding-right: 4px !important;
	}

	#buyer a {
		color: inherit;
		text-decoration: none;
	}

}

@media screen {	
	.invoice_preview.invoice {
		width:210mm;
		padding: 0px;
		padding-top: 0.5cm;
		font-size: 150%;
	}	
	.invoice_outline {margin-top:0.25in;margin-bottom:0.25in;
		margin-right:0.75cm;
		margin-left:0.75cm;
	}
}
